<!DOCTYPE html>
<html>
<head>
  <title>FoodCamp</title>
<%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tag %>
</head>
  <body>
  <div class="container">
           <%= render 'layouts/header' %>
           </div>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
